.DS_Store
node_modules
/build
/package
/dist
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
package-lock.json
pnpm-lock.yaml

# Nextjs
.next
next-end.d.ts

# Sanity generated runtime
.sanity

# Playwright
test-results
playwright-report
playwright/.cache
